# Auth.js
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""


# Prisma
DATABASE_URL="postgresql://postgres:password@localhost:5432/xiv-calendar"
DIRECT_URL="postgresql://postgres:password@localhost:5432/xiv-calendar"


DISCORD_WEBHOOK_URL="" #  TO BE REMOVED