# Auth.js
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

# Auth.js Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Prisma
DATABASE_URL="postgresql://postgres:password@localhost:5432/xiv-calendar"
DIRECT_URL="postgresql://postgres:password@localhost:5432/xiv-calendar"

# Discord
BOT_ID=""
BOT_SECRET=""
BOT_URL=""

# UploadThing
UPLOADTHING_TOKEN='some-token'
UPLOADTHING_CDN='https://cdn.uploadthing.com'