# Better Auth
## Secret 
BETTER_AUTH_SECRET=""
BETTER_AUTH_CALLBACK_URL=""

## Discord OAuth
BETTER_AUTH_DISCORD_CLIENT_ID=""
BETTER_AUTH_DISCORD_CLIENT_SECRET=""

# Prisma
DATABASE_URL="postgresql://postgres:password@localhost:5432/xiv-calendar"
DIRECT_URL="postgresql://postgres:password@localhost:5432/xiv-calendar"
